---
name: home
url: /
controller: MainCtrl
---
<div class="grid-block">
	<div class="grid-content">
	  <h3>Javascript</h3>
	  <p>Full-stack website development with Javascript frameworks.</p>
	</div>
</div>
<div class="grid-block small-up-2 medium-up-3 large-up-4">
	<div class="grid-block">
		<div class="grid-content thumbRowPadding">
		    <a class="th" href="#!/project/galaxylist"><img class="thumbnail" src="assets/img/projects/thumb-galaxy-browser.jpg"></a>
		    <h6 class="thumbnailText">Galaxy Browser</h6>
		</div>
	</div>
	<div class="grid-block">
		<div class="grid-content thumbRowPadding">
		    <a class="th" href="#!/project/vjcontroller"><img class="thumbnail" src="assets/img/projects/thumb-vjcontroller.jpg"></a>
		    <h6 class="thumbnailText">iPad Controller</h6>
		</div>
	</div>
	<div class="grid-block">
		<div class="grid-content thumbRowPadding">
		    <a class="th" href="#!/project/sketcher"><img class="thumbnail" src="assets/img/projects/thumb-sketcher.jpg"></a>
		    <h6 class="thumbnailText">Multi-user Sketch Pad</h6>	
		</div>
	</div>
	<div class="grid-block">
		<div class="grid-content thumbRowPadding">
		    <a class="th" href="#!/project/portfolio"><img class="thumbnail" src="assets/img/projects/thumb-portfolio.jpg"></a>
		    <h6 class="thumbnailText">* this website</h6>	
		</div>
	</div>
</div>

<div class="grid-block">
	<div class="grid-content">
	  <h3>Animation & Visual Art</h3>
	  <p>2D animation for advertising & presentations, and software to control video & visual effects.</p>
	</div>
</div>
<div class="grid-block small-up-2 medium-up-3 large-up-4">
	<div class="grid-block">
		<div class="grid-content thumbRowPadding">
		    <a class="th" href="#!/project/gostickman"><img class="thumbnail" src="assets/img/projects/thumb-gostickman.jpg"></a>
		    <h6 class="thumbnailText">GoStickman Studios</h6>		
		</div>
	</div>
	<div class="grid-block">
		<div class="grid-content thumbRowPadding">
		    <a class="th" href="#!/project/sigma-1"><img class="thumbnail" src="assets/img/projects/thumb-sigma1.jpg"></a>
		    <h6 class="thumbnailText">Sigma-1 Environments</h6>		
		</div>
	</div>
</div>

<div class="grid-block">
	<div class="grid-content">
	  <h3>Other Programming</h3>
	  <p>Software for astronomy education with TouchDesigner and Python.</p>
	</div>
</div>
<div class="grid-block small-up-2 medium-up-3 large-up-4">
	<div class="grid-block">
		<div class="grid-content thumbRowPadding">
		    <a class="th" href="#!/project/multiverse"><img class="thumbnail" src="assets/img/projects/thumb-multiverse.jpg"></a>
		    <h6 class="thumbnailText">Multiverse</h6>	
		</div>
	</div>
</div>

<hr class="style-four">

<div class="grid-block small-12 medium-10">
	<div class="grid-content">
	    <div id="mainContactContainer"> 
		<div id="innerContactContainer">

		    <h3>Contact Me</h3>
		    <p class="contentText show-for-small-only">{{bioText}}</p>
		    <p class="contentText newline">Send me a message if you'd like to further discuss my qualifications and work experience. I am searching for part-time projects or full-time employment.</p>
		    <p class="contentText">Email: <a href="mailto:matt@sigma-1.com">matt@sigma-1.com</a></p>
			
			<a href="http://www.linkedin.com/in/mattmazurprofile" target="_blank" class="mybutton paddedButton hvr-outline-out">LinkedIn</a>
		    <a href="https://www.facebook.com/vj.elfmaster" target="_blank" class="mybutton paddedButton hvr-outline-out">Facebook</a>
		    <a href="https://github.com/extragalactic" target="_blank" class="mybutton paddedButton hvr-outline-out">GitHub</a>

		    <div id="downloadResumeLine">
				<img class="clearfix miniProfileImage show-for-small-only" style="float:left;"src={{bioPhoto}}>

				<p>Or download my resume:</p>
				<a href="http://www.galacticnavigator.com/downloads/Resume - Matthew Mazur.pdf" target="_blank" class="mybutton paddedButton hvr-outline-out">Resume</a>
			</div>
		</div>
	    </div>
 	</div>
</div>
