
<div class="row small-up-2 medium-up-3 large-up-4 thumbnail-blocks column">
  <h3>Javascript</h3>
  <h6>Full-stack website development with Javascript frameworks.</h6>
</div>
<div class="row small-up-2 medium-up-3 large-up-4 thumbnail-blocks thumbRowPadding">
  <div class="column">
    <a class="th" href="#/project/galaxylist"><img class="thumbnail" src="assets/img/projects/thumb-galaxy-browser.jpg"></a>
    <h6 class="thumbnailText">Galaxy Browser</h6>
  </div>
  <div class="column">
    <a class="th" href="#/project/vjcontroller"><img class="thumbnail" src="assets/img/projects/thumb-vjcontroller.jpg"></a>
    <h6 class="thumbnailText">iPad Controller</h6>
  </div>
  <div class="column">
    <a class="th" href="#/project/sketcher"><img class="thumbnail" src="assets/img/projects/thumb-sketcher.jpg"></a>
    <h6 class="thumbnailText">Multi-user Sketch Pad</h6>
  </div>
  <div class="column">
    <a class="th" href="#/project/portfolio"><img class="thumbnail" src="assets/img/projects/thumb-portfolio.jpg"></a>
    <h6 class="thumbnailText">* this website</h6>
  </div>
</div>
<div class="row small-up-2 medium-up-3 large-up-4 thumbnail-blocks column">
</br>
  <h3>Animation & Visual Art</h3>
  <h6>2D animation for advertising & presentations, and software to control video & visual effects.</h6>
</div>
<div class="row small-up-2 medium-up-3 large-up-4 thumbnail-blocks">
  <div class="column">
    <a class="th" href="#/project/gostickman"><img class="thumbnail" src="assets/img/projects/thumb-gostickman.jpg"></a>
    <h6 class="thumbnailText">GoStickman Studios</h6>
  </div>
  <div class="column">
    <a class="th" href="#/project/sigma-1"><img class="thumbnail" src="assets/img/projects/thumb-sigma1.jpg"></a>
    <h6 class="thumbnailText">Sigma-1 Environments</h6>
  </div>
</div>
<div class="row small-up-2 medium-up-3 large-up-4 thumbnail-blocks column">
</br>
  <h3>Other Programming</h3>
  <h6>Software for astronomy education with TouchDesigner and Python.</h6>
</div>
<div class="row small-up-2 medium-up-3 large-up-4 thumbnail-blocks">
  <div class="column">
    <a class="th" href="#/project/multiverse"><img class="thumbnail" src="assets/img/projects/thumb-multiverse.jpg"></a>
    <h6 class="thumbnailText">Multiverse</h6>
  </div>
</div>

<hr class="style-four">

<div class="row contact-section">
  <div class="small-12 medium-10 columns">
    <div id="mainContactContainer"> 
    <div id="innerContactContainer">

        <h3>Contact Me</h3>

        <img class="miniProfileImage show-for-medium-only" src={{bioPhoto}}>           
        <p class="contentText hide-for-large hide-for-xlarge">{{bioText}}</p>

        <p class="contentText newline">Send me a message if you'd like to further discuss my qualifications and work experience. I am searching for part-time projects or full-time employment.</p>

        <p class="contentText">Email: <a href="mailto:matt@sigma-1.com">matt@sigma-1.com</a><p>
      <ul class="menu">
        <li><a href="http://www.linkedin.com/in/mattmazurprofile" target="_blank" class="mybutton paddedButton hvr-outline-out">LinkedIn</a></li>
        <li><a href="https://www.facebook.com/vj.elfmaster" target="_blank" class="mybutton paddedButton hvr-outline-out">Facebook</a></li>
        <li><a href="https://github.com/extragalactic" target="_blank" class="mybutton paddedButton hvr-outline-out">GitHub</a></li>
      </ul>
      </br>
        
      <img class="miniProfileImage show-for-small-only" src={{bioPhoto}}>
      <h6>Or download my resume:</h6>
      <a href="http://www.galacticnavigator.com/downloads/Resume - Matthew Mazur.pdf" target="_blank" class="mybutton-white paddedButton hvr-outline-out">Resume</a>
      </br></br>
    </div>
    </div>
  </div>
  <div class="medium-6 columns">

  </div>
</div>
